<!DOCTYPE html>
<html>
<head>
  <title>NewPublisher</title>
  <%= stylesheet_link_tag    "new_publisher/application", media: "all" %>
  <%= javascript_include_tag "new_publisher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
